---
- name: Remove default config
  command: mv /etc/nginx/sites-enabled/default /etc/nginx/sites-enabled/default.bak

- name: Copy vhosts to place
  template:
    src: vhosts.j2
    dest: "/etc/nginx/sites-enabled/{{ item['name'] }}.conf"
  loop: "{{ balancer_vhosts }}"
  notify: restart nginx

- name: Enable nginx service
  service:
    name: nginx
    state: started
    enabled: yes

